<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="liu.chun.dong.dao.mapper.TestMapper">
    <sql id="selectColumns">
        id as id
	</sql>

    <select id="getBannerList" resultType="liu.chun.dong.dao.entity.TestEntity">
        select
        <include refid="selectColumns"/>
        from
    </select>

</mapper>