<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="liu.chun.dong.dao.mapper.VehicleMiddleMapper">
    <sql id="selectColumns">
        id as id,
        simtime as simTime,
        segment_id as segmentId,
        vehicle_id as vehicleId
	</sql>

    <select id="getVehicleMiddleList" resultType="liu.chun.dong.dao.entity.VehicleMiddleEntity">
        SELECT
        <include refid="selectColumns"/>
        FROM
        vehicle_middle
        ORDER BY
        simtime ASC
    </select>

    <select id="getAVG" resultType="liu.chun.dong.dao.entity.MiddleEntity">
        SELECT
        AVG(travel_time_t) AS travel_time_ba,
        AVG(delay_t) AS delay_ba
        FROM
        vehicle_middle
        WHERE
        simtime &gt;= #{simTime}
        and
        simtime &lt; #{endTime}
        AND
        segment_id = #{segmentId}
    </select>
    <select id="getAVGMap" parameterType="java.util.Map" resultType="liu.chun.dong.dao.entity.MiddleEntity">
        SELECT
        AVG(travel_time_t) AS travel_time_ba,
        AVG(delay_t) AS delay_ba
        FROM
        vehicle_middle
        WHERE
        simtime &gt;= #{simTime}
        and
        simtime &lt; #{endTime}
        AND
        segment_id = #{segmentId}
    </select>
    <insert id="insert" parameterType="liu.chun.dong.dao.entity.VehicleMiddleEntity">
        insert into
        vehicle_middle
        (
        simtime,
        segment_id,
        vehicle_id,
        travel_time_t,
        delay_t,
        time_in,
        time_out
        )
        values
        (
        #{simTime},
        #{segmentId},
        #{vehicleId},
        #{travelTimet},
        #{delayT},
        #{timeIn},
        #{timeOut}
        )
    </insert>
    <update id="update" parameterType="liu.chun.dong.dao.entity.VehicleMiddleEntity">
        UPDATE
        vehicle_middle
        SET
        car_type =#{carType},
        speed =#{speed},
        desspeed =#{desspeed},
        linkid =#{linkid},
        linkpos =#{linkpos},
        laneid =#{laneid},
        nextlink =#{nextlink},
        inqueue =#{inqueue},
        stops =#{stops},
        delaytm =#{delaytm},
        x =#{x},
        y =#{y}
        WHERE
        simtime=#{simTime}
        AND
        segment_id=#{segmentId}
        AND
        vehicle_id=#{vehicleId}
    </update>

</mapper>