<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="liu.chun.dong.dao.mapper.VehicleMapper">
    <sql id="selectColumns">
        id as id,
        simtime as simtime,
        car_type as carType,
        speed as speed,
        desspeed as desspeed,
        linkid as linkid,
        laneid as laneid,
        nextlink as nextlink,
        linkpos as linkpos,
        inqueue as inqueue,
        stops as stops,
        delaytm as delaytm,
        x as x,
        y as y,
        travel_time_t as travelTimet,
        delay_t as delayT,
        segment_id as segmentId
	</sql>

    <select id="getVehicleById" parameterType="java.lang.Integer" resultType="liu.chun.dong.dao.entity.VehicleEntity">
        select
        <include refid="selectColumns"/>
        from
        vehicle
        where
        id=#{id}
        ORDER BY simtime ASC
    </select>

    <select id="getVehicleByIdAndTimeAndSegment" parameterType="java.util.Map" resultType="liu.chun.dong.dao.entity.VehicleEntity">
        select
        <include refid="selectColumns"/>
        FROM
        vehicle
        WHERE
        id=#{id}
        AND simtime=#{simTime}
    </select>

    <select id="getMaxVehicleId" resultType="Integer">
        SELECT
        MAX(id)
        FROM vehicle;
    </select>

    <insert id="insert" parameterType="liu.chun.dong.dao.entity.VehicleEntity">
        insert into
        segment_travel_time_delay
        (
        simtime,
        segment_id,
        travel_time_ba,
        delay_ba
        )
        values
        (
        #{simTime},
        #{segmentId},
        #{travelTimet},
        #{delayT}
        )
    </insert>

</mapper>