<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="liu.chun.dong.dao.mapper.VehicleMapper">
    <sql id="selectColumns">
        id as id,
        simtime as simtime,
        car_type as carType,
        speed as speed,
        desspeed as desspeed,
        linkid as linkid,
        laneid as laneid,
        nextlink as nextlink,
        linkpos as linkpos,
        inqueue as inqueue,
        stops as stops,
        delaytm as delaytm,
        x as x,
        y as y
	</sql>

    <select id="getVehicleList" resultType="liu.chun.dong.dao.entity.VehicleEntity">
        select
        <include refid="selectColumns"/>
        from
        vehicle
    </select>

</mapper>